.logout-btn{
    border: none;
    outline: none;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background-color: #2C2C2C;
    color: #FF9700;
}

.logout-btn:hover{
    color: #83612d;
}